---
import { type CollectionEntry, render } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { getNotePath } from "@/utils/url";
import { PROSE_ARTICLE } from "@/utils/prose";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  note: CollectionEntry<"note">;
  isPreview?: boolean | undefined;
};

const { as: Tag = "div", note, isPreview = false } = Astro.props;
const { Content } = await render(note);
const noteUrl = getNotePath(note);
---

<article
  class:list={[
    isPreview &&
      "group border-foreground/5 relative grid rounded-md border bg-white/75 px-4 py-3 dark:border-white/5 dark:bg-white/5",
  ]}
  data-pagefind-body={!isPreview}
>
  <Tag class:list={[isPreview ? "heading text-accent-2" : "article-title mb-3"]}>
    {
      isPreview ? (
        <a
          class="cactus-link group-hover:decoration-link group-hover:decoration-2 after:absolute after:inset-0 after:content-['']"
          href={noteUrl}
        >
          {note.data.title}
        </a>
      ) : (
        <>{note.data.title}</>
      )
    }
  </Tag>
  <FormattedDate
    dateTimeOptions={{
      hour: "2-digit",
      minute: "2-digit",
      year: "2-digit",
      month: "2-digit",
      day: "2-digit",
    }}
    date={note.data.publishDate}
  />
  <div
    class="mt-4 [&>p:last-of-type]:mb-0"
    class:list={[
      isPreview
        ? "note line-clamp-6 max-w-none [&_a]:relative [&_a]:z-10"
        : `${PROSE_ARTICLE} max-w-none`,
    ]}
  >
    <Content />
  </div>
</article>
