---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site.config";
import Analytics from "@vercel/analytics/astro";

const {
  meta: { articleDate, description = siteConfig.description, ogImage, title, post },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
  <head>
    <BaseHead
      articleDate={articleDate}
      description={description}
      ogImage={ogImage}
      title={title}
      post={post}
    />
  </head>
  <body class="bg-background overscroll-none antialiased dark:scrollbar-thumb-gray-700">
    <div
      class="text-foreground text-offgray dark:text-offgray-300 flex min-h-svh min-w-svw flex-col text-sm"
    >
      <ThemeProvider />
      <SkipLink />
      <Header />
      <main id="main" class="border-grid flex flex-grow flex-col pt-24">
        <slot />
      </main>
      <Footer />
    </div>
    <!-- Overlay vertical borders for entire page (another approach) -->
    <div class="pointer-events-none fixed inset-0" style="z-index: 5">
      <div
        class="mx-auto h-full max-w-4xl border-r border-l border-dashed border-gray-200 dark:border-gray-700"
      >
      </div>
    </div>
    <Analytics />
  </body>
</html>
